<h1>App: {{ title }}</h1>

<div  >
<table mat-table matSort matSortActive="name" matSortDirection="asc" [dataSource]="persons" #deviceTable>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let person">{{ person.id }}</td>
  </ng-container>

  <ng-container matColumnDef="firstname">
    <th mat-header-cell *matHeaderCellDef>first name</th>
    <td mat-cell *matCellDef="let person"> {{ person.firstname }}</td>
  </ng-container>
  
  <ng-container matColumnDef="lastname">
    <th mat-header-cell *matHeaderCellDef>last name</th>
    <td mat-cell *matCellDef="let person">{{ person.lastname }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['id', 'firstname', 'lastname']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['id', 'firstname', 'lastname'];"></tr>
</table>

</div>